<h2>コンテンツ</h2>
<%= link_to '編集', edit_admin_content_path(@content) %>
<%= link_to '削除', admin_content_path(@content), method: :delete %>
<h3><%= @content.title %></h3>
<p><%= @content.description %></p>

<h3>関連リンク</h3>
<ul>
  <% @content.links.each do |link| %>
    <li><%= link_to link.name, link.url, target: :blank %></li>
  <% end %>
</ul>

<%= link_to '戻る', admin_contents_path %>
