<!DOCTYPE html>
<html>
  <head>
    <title>Admin | HimatsubushiManual</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <ul>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
    </ul>
    <%= yield %>
  </body>
</html>
